/* 
    Document   : main.css
    Created on : 03.09.2013, 15:50:38
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html body {
    position: relative;
    color: #2c3e50;
}

html body button {
    color: #2c3e50;
}

#Map {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    background: #f3f3f4;
}

#Map .leaflet-control-attribution.leaflet-control {
    display: none;
}

#PeriodsMenuWrapper {
    float: left;
    margin-right: 4px;
}

#PeriodsMenu {
    margin-bottom: 5px;
}

#PeriodsMenu li {
    white-space: nowrap;
}

#PeriodsOkBtn {
    clear: left;
    float: left;
}

#Table {
    box-shadow: none;
    padding: 15px;
    float: left;
    max-height: 400px;
    overflow-y: scroll;
    background-image: linear-gradient(#fec29c, #e75900);
    background-image: -webkit-linear-gradient(#fec29c, #e75900);
    border: 1px solid #ffffff;
    text-shadow: 0px 0px 5px #531400;
    color: #ffffff;
    border-radius: 4px;
}

#Table table {
    margin: 0;
}

#Loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;

}

#Loader .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#Loader .content {
    width: 300px;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}

#UIWrapperTop {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 0;
    z-index: 1;
    font-size: 12px;
}

#UIWrapperTop .toolbar {
    float: left;
    clear: both;
}

#Toolbar3 {
    height: 0;
}

#UIWrapperBottomLeft {
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 0;
    z-index: 1;
    font-size: 12px;
}

#UIBottomLeft .toolbar {
    float: left;
    clear: both;
}

#UIWrapperBottomRight {
    position: absolute;
    right: 10px;
    bottom: 60px;
    width: 0;
    z-index: 1;
    font-size: 12px;
}

#UIWrapperBottomRight .toolbar {
    float: right;
    clear: both;
}

.toolbar > button, .toolbar > .menu-std, .toolbar > div {
    margin: 3px;
}

#Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: url('../images/map-footer.png') no-repeat 10px center #f0e7e6;
    background-size: 95px 50px;
    font-size: 18px;
    height: 57px;
    /*border-top: 6px solid #2c3e50;*/
    border-top: 6px solid #2c3e50;
    padding: 0 10px 0 100px;
}

#Footer > .inner {
    display: table;
    height: 48px;
}

#Footer p {
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    border-left: 6px solid #2c3e50;
    white-space: nowrap;
    text-align: center;
}

#Footer p.title {
    white-space: normal;
    border: none;
}

#LayersMenu {
    white-space: nowrap;
}

.menu-std {
    padding: 15px;
    font-size: 16px;
    max-width: 350px;
    background-image: linear-gradient(#fec29c, #e75900);
    background-image: -webkit-linear-gradient(#fec29c, #e75900);
    border: 1px solid #ffffff;
    text-shadow: 0px 0px 5px #531400;
    color: #ffffff;
    border-radius: 4px;
    overflow-x: auto;
    max-height: 400px;
    overflow-y: scroll;
}

.menu-std li {
    display: block;
    line-height: 20px;
    padding: 9px 35px 9px 0;
    background: url('../images/arrow.png') no-repeat right center;
    background-size: 28px 28px;
}

.menu-std li input {
    margin-right: 10px;
}

#PeriodsMenu.menu-std li, #LayersMenu.menu-std li {
    background: none;
    padding-right: 10px;
}

.menu-std li.menu-btn-back {
    background: url('../images/arrow-back.png') no-repeat left center;
    padding-left: 40px;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
    background-size: 28px 28px;
}

html .leaflet-control-zoom.leaflet-bar {
    box-shadow: none;
    border: none;
}

html .leaflet-control-zoom.leaflet-bar a, html .leaflet-control-zoom.leaflet-bar a:hover, html .leaflet-control-zoom.leaflet-bar a:focus, html .leaflet-control-zoom.leaflet-bar a:last-child {
    color: #ffffff;
    background-image: linear-gradient(#ff8f49, #dd5600 60%, #e75900);
    background-image: -webkit-linear-gradient(#ff8f49, #dd5600 60%, #e75900);
    border: 1px solid #ffffff;
    height: 34px;
    width: 34px;
    line-height: 34px;
    outline: none;
}

html .leaflet-right .leaflet-control {
    margin: 13px 13px 0 0;
}

html .btn-warning, html .btn-warning:hover, html .btn-warning:focus, html .btn-warning:active, html .btn-warning.active {
    /*background-image: linear-gradient(#ff8f49, #dd5600 60%, #e75900);*/
    /*background-image: -webkit-linear-gradient(#ff8f49, #dd5600 60%, #e75900);*/
    border: 1px solid #ffffff;
    outline: none;
}