/* 
    Document   : main.css
    Created on : 03.09.2013, 15:50:38
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
}

#Map {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

#Map .leaflet-control-attribution.leaflet-control {
    display: none;
}

#UIWrapperTop {
    position: absolute;
    left: 43px;
    top: 9px;
    right: 9px;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
}

#UIWrapperTop button, #UINavBar .btn-group {
     margin-right: 4px;
 }

#UIWrapperTop .btn-group button {
    margin-right: 0;
}

#UIWrapperTop .navbar-text {
    float: none;
    display: inline-block;
}

#UIWrapperTop .navbar-text.period {
    font-weight: bold;
    margin-left: 0;
}

#LayersMenu {
    position: absolute;
    right: 9px;
    bottom: 9px;
    z-index: 2;
}

#LayersMenu a input {
    margin-right: 5px;
}

#StatisticsBtn {

}

#StatisticsCancelBtn {

}

#StatisticsMenu {
    /*white-space: nowrap;*/
}

#StatisticsMenu ul ul {
    max-height: 200px;
    overflow-y: scroll;
}

#StatisticsMenu li {
   width: 400px;
}

#PeriodsMenuWrapper {
    float: left;
    margin-right: 4px;
}

#PeriodsMenu {
    width: 150px;
    margin-bottom: 5px;
}

#PeriodsMenu a input {
    margin-right: 5px;
}

#Table {
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: none;
    padding: 15px;
    border-style: solid;
    float: left;
    max-height: 500px;
    overflow-y: scroll;
}

#Table table {
    margin: 0;
}

.menu-std a {

}

.menu-std a.active {
    /*border: 1px solid #999;*/
    background: #dadada url('jquery-ui-1.10.3/images/ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x;
    font-weight: 400;
    color: #212121;
    /*margin: -1px;*/
}

#Loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;

}

#Loader .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#Loader .content {
    width: 300px;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}

#PeriodsOkBtn {
    clear: left;
    float: left;
}

#UIWrapperTop {
    position: absolute;
    left: 10px;
    top: 0;
    height: 0;
    z-index: 1;
    font-size: 12px;
}

#Toolbar1, #Toolbar2, #Toolbar3 {
    float: left;
    clear: both;
}

#Toolbar3 {
    height: 0;
}

#UIWrapperBottomLeft {
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 0;
    z-index: 1;
    font-size: 12px;
}

#UIWrapperBottomRight {
    position: absolute;
    right: 10px;
    bottom: 60px;
    height: 0;
    z-index: 1;
    font-size: 12px;
}

#Footer {
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;
}